{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Categories</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Wish shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'main/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'main/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'main/plugins/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/categories.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/categories_responsive.css' %}">
<link rel="stylesheet" href="{% static 'main/css/newStyle.css' %}">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="header_inner d-flex flex-row align-items-center justify-content-start">
			<div class="logo">
				<a href="{% url 'index' %}">Парк Виктория</a>
				<div class="number"><a href="#">+7(928)156-02-31</a></div>
			</div>
			<nav class="main_nav">
				<ul>
					<li><a href="#">главная</a></li>
					<li><a href="categories.html">прайс</a></li>
					<li><a href="categories.html">ландшафт</a></li>
					<li><a href="#">фото</a></li>
					<li><a href="#">памятка</a></li>
					<li><a href="contact.html">контакты</a></li>
				</ul>
			</nav>
<!--			<div class="header_content ml-auto">-->
<!--				<div class="search header_search">-->
<!--					<form action="#">-->
<!--						<input type="search" class="search_input" required="required">-->
<!--					</form>-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm"><div></div><div></div><div></div></div>-->
		</div>
	</header>

	<!-- Menu -->


	<!-- Home -->

	<div class="home">
		{% for cat in categories %}
		<div class="home_background parallax-window" data-parallax="scroll">
			<img src="{% static 'main/img/about.jpg' %}" alt=""></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_container">
						<div class="home_content">
							<div class="home_title">{{ cat.name }}</div>
							<div class="breadcrumbs">
								<ul>
									<li><a href="{% url 'index' %}">На главную</a></li>
									<li>{{ cat.name }}</li>
									<li>Растения</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	<!-- Products -->



	<div class="products">
		<div class="container">
			<div class="row products_container">
				<div class="col">
					{% for cat in categories %}
						{% for product in products %}
							{% if cat.name == product.categories.name %}
								<div class="product_grid">
									<div id="container">
										<div class="product-details">
											<h1>{{ product.name }}</h1>
<!--											<span class="hint-star star">-->
<!--												<i class="fa fa-star" aria-hidden="true"></i>-->
<!--												<i class="fa fa-star" aria-hidden="true"></i>-->
<!--												<i class="fa fa-star" aria-hidden="true"></i>-->
<!--												<i class="fa fa-star-half-o" aria-hidden="true"></i>-->
<!--												<i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--											</span>-->
											<p class="information">" {{ product.description }} "</p>
											<div class="control">
												<button class="btn">
													<span class="price">{{ product.price }}p</span>
													<span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
													<span class="buy">Подробнее</span>
												</button>
											</div>
										</div>
										<div class="product-image">
											<img src="https://sc01.alicdn.com/kf/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3/200006212/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3.jpg" alt="Omar Dsoky">

											<div class="info, text_center">
												<h2>The Description</h2>
												<ul>
													<li><strong>Sun Needs: </strong>Full Sun</li>
													<li><strong>Soil Needs: </strong>Damp</li>
													<li><strong>Zones: </strong>9 - 11</li>
													<li><strong>Height: </strong>2 - 3 feet</li>
													<li><strong>Blooms in: </strong>Mid‑Summer - Mid‑Fall</li>
													<li><strong>Features: </strong>Tolerates heat</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
				</div>
			</div>
		</div>
	<div class="newsletter">
		<div class="newsletter_content">
			<div class="newsletter_image" style="background-image:url({% static 'main/img/newsletter1.jpg' %})"></div>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section_title_container text-center">
							<div class="section_subtitle">только лучшее</div>
							<div class="section_title">подпишись и получи подарок</div>
						</div>
					</div>
				</div>
				<div class="row newsletter_container">
					<div class="col-lg-10 offset-lg-1">
						<div class="newsletter_form_container">
							<form action="#">
								<input type="email" class="newsletter_input" required="required" placeholder="E-mail here">
								<button type="submit" class="newsletter_button">subscribe</button>
							</form>
						</div>
						<div class="newsletter_text"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="footer_logo"><a href="#">Wish</a></div>
					<nav class="footer_nav">
<!--						<ul>-->
<!--							<li><a href="index.html">home</a></li>-->
<!--							<li><a href="categories.html">clothes</a></li>-->
<!--							<li><a href="categories.html">accessories</a></li>-->
<!--							<li><a href="categories.html">lingerie</a></li>-->
<!--							<li><a href="contact.html">contact</a></li>-->
<!--						</ul>-->
					</nav>
					<div class="footer_social">
						<ul>
							<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Адрес: Ростовская область, аксайский район <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
				</div>
			</div>
		</div>
	</footer>
</div>

<!--<script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>-->
<!--<script src="{% static 'main/styles/bootstrap4/popper.js' %}"></script>-->
<!--<script src="{% static 'main/styles/bootstrap4/bootstrap.min.js' %}"></script>-->
<!--<script src="{% static 'main/plugins/easing/easing.js' %}"></script>-->
<!--<script src="{% static 'main/plugins/parallax-js-master/parallax.min.js' %}"></script>-->
<!--<script src="{% static 'main/plugins/Isotope/isotope.pkgd.min.js' %}"></script>-->
<!--<script src="{% static 'main/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.js' %}"></script>-->
<!--<script src="{% static 'main/plugins/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>-->
<!--<script src="{% static 'main/js/categories_custom.js' %}"></script>-->
</body>
</html>