{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Контакты Парк Виктория</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Wish shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'main/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/contact.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/contact_responsive.css' %}">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">
		<div class="header_inner d-flex flex-row align-items-center justify-content-start">
			<div class="logo">
				<a href="{% url 'index' %}">Парк Виктория</a>
				<div class="number"><a href="#">+7(928)156-02-31</a></div>
			</div>
			<nav class="main_nav">
				<ul>
					<li><a href="{% url 'index' %}">главная</a></li>
					<li><a href="{% url 'price' %}">прайс</a></li>
					<li><a href="{% url 'contact' %}">контакты</a></li>
				</ul>
			</nav>
<!--			<div class="header_content ml-auto">-->
<!--				<div class="search header_search">-->
<!--					<form action="#">-->
<!--						<input type="search" class="search_input" required="required">-->

<!--					</form>-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm"><div></div><div></div><div></div></div>-->
		</div>
	</header>

	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
		<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
		<div class="logo menu_mm"><a href="#">Парк Виктория</a></div>
		<div class="search">
			<form action="#">
				<input type="search" class="search_input menu_mm" required="required">
				<button type="submit" id="search_button" class="search_button menu_mm"><img class="menu_mm" src="{% static 'main/img/magnifying-glass.svg' %}" alt=""></button>
			</form>
		</div>
		<nav class="menu_nav">
			<ul class="menu_mm">
				<li class="menu_mm"><a href="{% url 'index' %}">home</a></li>
				<li class="menu_mm"><a href="#">clothes</a></li>
				<li class="menu_mm"><a href="#">accessories</a></li>
				<li class="menu_mm"><a href="#">lingerie</a></li>
				<li class="menu_mm"><a href="#">contact</a></li>
			</ul>
		</nav>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'main/img/about.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_container">
						<div class="home_content">
							<div class="home_title">Контакты</div>
							<div class="breadcrumbs">
								<ul>
									<li><a href="{% url 'index' %}">На главную</a></li>
									<li>Контакты</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Google Map -->

<!--	<div class="map">-->
<!--		<div id="google_map" class="google_map">-->
<!--			<div class="map_container">-->
<!--				<div id="map"></div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->

	<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abbec3019ecc664507e9093c98b8891650f025c7263b305c9204e1c347d596e21&amp;width=100%25&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>0/js/?um=constructor%3Abbec3019ecc664507e9093c98b8891650f025c7263b305c9204e1c347d596e21&amp;width=998&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>

	<!-- Contact Text -->

	<div class="contact_text">
		<div class="container">
			<div class="row">

				<!-- Contact Info -->
				<div class="col-lg-5">

					<div class="contact_info">
						<div class="contact_title">Контакты</div>
						<div class="contact_info_content">
							<ul>
								<li>
									<div class="contact_info_icon"><img src="{% static 'main/img/contact_info_1.png' %}" alt=""></div>
									<div class="contact_info_text">Ростовская область Аксайский район х. Большой лог ул. Фадеева 271</div>
								</li>
								<li>
									<div class="contact_info_icon"><img src="{% static 'main/img/contact_info_2.png' %}" alt=""></div>
									<div class="contact_info_text"> 89281560231@yandex.ru</div>
								</li>
								<li>
									<div class="contact_info_icon"><img src="{% static 'main/img/contact_info_3.png' %}" alt=""></div>
									<div class="contact_info_text">+7(928)-156-02-31</div>
								</li>
							</ul>
						</div>
						<div class="contact_info_social">
							<ul>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-7">
					<div class="faq">
						<div class="contact_title">Частые вопросы</div>
						<div class="faq_content">

							<!-- Accordions -->
							<div class="accordions">

								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center"><div>Вопрос 1</div></div>
									<div class="accordion_panel">
										<p>Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ </p>
									</div>
								</div>

								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center"><div>Вопрос 2</div></div>
									<div class="accordion_panel">
										<p>Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ </p>
									</div>
								</div>

								<div class="accordion_container">
									<div class="accordion d-flex flex-row align-items-center active"><div>Вопрос 3</div></div>
									<div class="accordion_panel">
										<p>Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ Ответ </p>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="footer_logo"><a href="{% url 'index' %}">Парк Виктория</a></div>
					<div class="footer_social">
						<ul>
							<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Адрес: Ростовская область, аксайский район <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'main/styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'main/styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'main/plugins/easing/easing.js' %}"></script>
<script src="{% static 'main/plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'main/js/contact_custom.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>

</body>
</html>




